pillow==8.1.1
numpy==1.18.1
pandas==1.0.1
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.10.0
tqdm==4.46.0
hypothesis==4.50.7
tabulate==0.8.6
pydot==1.4.1
boto3==1.10.35
future==0.18.2
Cython==0.29.14
imgaug==0.3.0
